<div id="<?= $this->getId() ?>">
    <div class="form-group" id="listMontage">
        <?= $this->makePartial('list') ?>
    </div>
    <div class="form-group">
        <button type="submit" data-request="onRefreshList" data-request-data="redirect:0" data-stripe-load-indicator=""
            class="btn btn-primary">
            <?= e(trans('waka.cloudis::lang.formwidget.checking')) ?>
        </button>
        <div id="loading" style="display: none;"><img src="loading.gif" alt="Loading..." /></div>
    </div>
</div>