<section class="p-4  {{ data.opt_env_colors | default('env-white') }}">
    <div class="mx-auto {% if data.opt_is_container %}container{% endif %} {% if data.content %} grid grid-cols-1 md:grid-cols-2{% endif %}">
        <div>
            {% if data.content %}
            <h3 class="title  mb-2">{{data.title}}</h3>
            <div class="">{{data.content | raw }}</div>
            {% else %}
            <h3 class="title  mb-2 text-center">{{data.title}}</h3>
            {% endif %}
        </div>
        <div class="mx-auto px-4 sm:px-6 lg:px-8 ">
            <div class="py-1 mx-auto">
                <video class="video_auto_play mx-auto"
                       controlsList="nodownload noremoteplayback"
                       muted
                       controls
                       width="100%">

                    <source src="{{ biblioVideo(data.video_code)}}"
                            type="video/mp4" />
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
        </div>
    </div>
</section>