<?php if($noImage) { ?>
<div class="callout fade in callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3>Auncune image disponible</h3>
    </div>
</div>
<?php } else { ?>
<p>
    <button href="javascript:;" class="btn btn-secondary oc-icon-files-o " data-control="popup"
        data-handler="onShowImages">
        Ajouter une image
    </button>
</p>
<div class="list-widget list-scrollable-container ">
    <div class="control-list list-scrollable" id="listimagesoptions">
        <?= $this->makePartial('listimagesoptions', ['values' => $values]) ?>
    </div>
</div>

<?php } ?>