<?= Form::open() ?>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Mettre à jours Les options de l'image</h4>
        </div>
        <div class="modal-body">
            <?=  $imageWidget->render() ?>
        </div>
        <div class="modal-footer">
            <button type="submit" data-stripe-load-indicator data-dismiss="modal" data-request="onUpdateImageValidation"
                data-request-data="redirect:0,oldCode:'<?= $oldCode ?>'" class="btn btn-primary">
                Mettre à jour
            </button>
        </div>
    </div>
</div>
<?= Form::close() ?>